*.pyc
__pycache__
venv/
.pytest_cache/
README.md
__pycache__/
__pycache__
*.cpython-36
*.cpython-36-PYTEST.pyc
*.pyc
*.py[cod]
*/__pycache__/*
*.vscode/
.pytest_cache
__pycache__/
.cpython
.cpython-36.pyc
SendITapp/api/v1/models/__pycache__/users.cpython-36.pyc
SendITapp/tests/v1/__pycache__/test_parcelviews.cpython-36-PYTEST.pyc
SendITapp/tests/v1/__pycache__/test_userviews.cpython-36-PYTEST.pyc
SendITapp/api/v1/views/__pycache__/userView.cpython-36.pyc
SendITapp/__pycache__/__init__.cpython-36.pyc
SendITapp/api/v1/models/__pycache__/parcel.cpython-36.pyc
SendITapp/api/v1/models/__pycache__/users.cpython-36.pyc
SendITapp/api/v1/views/__pycache__/parcelview.cpython-36.pyc
SendITapp/api/v1/views/__pycache__/userView.cpython-36.pyc
.env
.coverage.*
.coverage
.coverage
